<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>670027731026-2ulbu0gs438miqkev0p8veavvvkjcvv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670027731026-2ulbu0gs438miqkev0p8veavvvkjcvv5</string>
	<key>API_KEY</key>
	<string>AIzaSyARC8NQk84kRS-5Cpw6IXLM4ZgQIYQX1LI</string>
	<key>GCM_SENDER_ID</key>
	<string>670027731026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.smarket</string>
	<key>PROJECT_ID</key>
	<string>smarket-db0cd</string>
	<key>STORAGE_BUCKET</key>
	<string>smarket-db0cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670027731026:ios:51949866d103733d</string>
	<key>DATABASE_URL</key>
	<string>https://smarket-db0cd.firebaseio.com</string>
</dict>
</plist>